.nakhwa_logo{
    font-family: 'Pacifico', cursive
}

.nakhwa_footer_button{
    font-size: .6rem;
}

.nakhwa_footer{
    text-align: center; margin-top: 2rem;
}

.nakhwa_header{
    text-align: center; margin: 2rem 0;
}